body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

header{
    background-color: black;
    padding: 40px;
    border: 0px;
    margin: 0px;
}

nav{
    text-align: center;
    border: 0px;
    margin: 0px;
}

nav a, nav a:visited{
    padding: 40px;
    color: white;
    text-decoration: none;
}

nav a:hover{
    background-color: darkgray;
}

div{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 80px;
}

h1, h2, h3, h4{
    padding: 5px;
}